@import "tailwindcss";

@theme {
  --color-primary: #28333E;
  --color-secondary: #F06442;
  --color-primary-light: #3a4a58;
  --color-secondary-light: #f4826a;
  --font-sans: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  color: var(--color-primary);
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
